@import "tailwindcss";


@theme {
    --breakpoint-xs: 480px;
    --breakpoint-s: 640px;
    --breakpoint-m: 830px;
    --breakpoint-lg: 998px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}